<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>I am on the path of shaping my career through hard work and endless motivation. Speaking English, Arabic, and learning Dutch, while having an education in interior design are key elements that envelop my character. People find me an upbeat, self-motivated team player with excellent communication skills. Being a successful member of society is one of my many goals that will drive and motivate me daily.

    </div>
    <!--//summary-->
</section>
<!--//section-->
