<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Architectural assistant </h3>
                <div class="time">2014 - 2015</div>
            </div>
            <!--//upper-row-->
            <div class="company">Design Office, Syria</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Architectural assistant . </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Car computers engineer assistant</h3>
                <div class="time">2014 - 2015</div>
            </div>
            <!--//upper-row-->
            <div class="company">AlNahas  – Damascus, Syria</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Car computers engineer assistant.</p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->


</section>
<!--//section-->
