<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>A list of my open source projects are here, the majority of which are some sort of VBA tool which I'm moving away from now in favor or more general purpose programming languages.</p>
    </div>
    <!--//intro-->
    <div class="item">
         <span class="project-tagline">Sport News</span>

    </div>
    <!--//item-->
    <div class="item">

        <span class="project-tagline">Generala app</span>
    </div>
    <!--//item-->

</section>
<!--//section-->
